@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Add New Items:</h1>
    <div>
        <a>Create New Product:</a>
        <a asp-controller="Product" asp-action="Create">Create New Product</a>
    </div>
    <div>
        <a>Create New Order:</a>
        <a asp-controller="Order" asp-action="Create">Create New Order</a>
    </div>
    <div>
        <a>Create New Partner:</a>
        <a asp-controller="Partner" asp-action="Create">Create New Partner</a>
    </div>
</div>
