<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom ">
    <div class="container">
        <a class="navbar-brand">Search for: </a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Search">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Search">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Partner" asp-action="Search">Partner</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
