@model OrderViewModel

@{
    ViewData["Title"] = "Create";
}
<h2>Create Order</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class=" form-group">
                <label asp-for="Partner" class="control-label"></label>
                <select asp-for="Partner" class="form-control" asp-items="Model.Partners">
                    <option>Please choose partner</option>
                </select>

            </div>
            <div class=" form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<OrderType>()">
                    <option>Please choose order type</option>
                </select>

            </div>
            <div class=" form-group" method="POST" action="Order/Create">
                <table id="table" class="table table-hover table-mc-light-blue" border="0" align="center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Products</th>
                            <th>InStock</th>
                            <th>OrderedQuantity</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var pair in Model.listProductsWithQuantities)
                        {
                            <tr>

                                <td><input type="checkbox" data-bind="checkedValue: pair.id, checked: isActive" /></td>
                                <td> @pair.product.Name</td>
                                <td>@pair.inStock</td>
                                <td><input type="number" name="pair.wantedQuantity" placeholder="0"></td>


                            </tr>
                        }

                    </tbody>
                </table>

                <span asp-validation-for="WantedQuantityByProduct" class="text-danger"></span>
            </div>


            @*<button onclick="myFunction()">Try it</button>*@

            <div class="md-form mb-4 pink-textarea active-pink-textarea">

                <label asp-for="Comment" class="control-label"></label>
                <textarea id="form18" name="Comment" class="md-textarea form-control" rows="3" cols="60" placeholder="Add notes">Add notes</textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>

            </div>

            <div class="form-group">

                <input type="submit" value="Create Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h2>Filterable Table</h2>
<p>Type something in the input field to search the table for first names, last names or emails:</p>
<input id="myInput" type="text" placeholder="Search..">
<br><br>

<table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%}>


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="myTable">
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@mail.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@greatstuff.com</td>
        </tr>
        <tr>
            <td>Anja</td>
            <td>Ravendale</td>
            <td>a_r@test.com</td>
        </tr>
    </tbody>
</>



<div>
    <a href='javascript:history.go(-1)'>Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function myFunction() {
            var btn = document.createElement("BUTTON");
            document.body.appendChild(btn);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}


