@model OrderViewModel
@{
    ViewData["Title"] = "SearchOrderByType";
}
<partial name="_Search" />

<partial name="_SearchOrder" />

<h3>Search for Orders by Type</h3>

<div class="row mt-5">
    <form class="col-lg-6" asp-controller="Order" asp-action="SearchOrderByType" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-9">
                <select class="form-control" id="sel1" name="sellist1" asp-for="@Model.Type" asp-items="@Html.GetEnumSelectList<OrderType>()"></select>
                <span asp-validation-for="@Model.Type" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success">Search!</button>
            </div>
        </div>
    </form>
</div>

<div class="row mt-5">
    <div class="col-lg-6">
        @if (Model != null)
        {

            @*<a href="~/Views/Orders/Index.cshtml"> ~/Views/Orders/Index.cshtml </a>*@
            if (!string.IsNullOrWhiteSpace(Model.Type) && !Model.SearchResults.Any())
            {
                <p class="alert alert-info">There are no orders</p>
            }
            else
            {
                foreach (var order in Model.SearchResults)
                {
                    <partial name="_OrderPartial" model="order" />
                }
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
