@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Campus X, Telerik Academy<br />
    Sofia, Bulgaria<br />
    
</address>

<address>
    <strong>Dev:</strong> <a href="https://gitlab.com/rhin33">Iva Zhechkova</a><br />
    <strong>Dev:</strong> <a href="https://gitlab.com/kiketo">Kiril Kuzmanov</a>
</address>
