@{
    ViewData["Title"] = "Search";
}


@*<partial name="_Search" />*@



@*<div class="container">
    <h2>Accordion Example</h2>
    <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
    <div id="accordionSearch">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#searchOrder">
                    Search Order
                </a>
            </div>
            <div id="searchOrder" class="collapse" data-parent="#accordionSearch">
                <div class="card-body">
                    @*Order search start*@
                    @*<div class="container">
                        <h2>Accordion Example</h2>
                        <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
                        <div id="accordionSearchOrder">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#searchOrderById">
                                        Search Order By ID
                                    </a>
                                </div>
                                <div id="searchOrderById" class="collapse" data-parent="#accordionSearchOrder">
                                    <div class="card-body">
                                        <partial name="_SearchById" />
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#searchPartner">
                                        Search Partner
                                    </a>
                                </div>
                                <div id="searchPartner" class="collapse" data-parent="#accordionSearchOrder">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#searchProduct">
                                        Search Product
                                    </a>
                                </div>
                                <div id="searchProduct" class="collapse" data-parent="#accordionSearchOrder">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    @*Order search end*@
                @*</div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#searchPartner">
                    Search Partner
                </a>
            </div>
            <div id="searchPartner" class="collapse" data-parent="#accordionSearch">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#searchProduct">
                    Search Product
                </a>
            </div>
            <div id="searchProduct" class="collapse" data-parent="#accordionSearch">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
    </div>
</div>*@





@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">*@
        @*<ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="SearchById">Search Order</a>
            </li>*@
            @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="SearchById">Search Order By Id</a>
                </li>*@
            @*<partial name="_LoginPartial" />*@
        @*</ul>*@
        @*</div>*@
    @*</div>
</nav>*@

