@model PartnerViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Add New Partner</h2>

<div asp-validation-summary="All">
    <span>@*Please correct the following errors*@</span>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder="Enter Partner Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" placeholder="Enter New Address" class="control-label">Address</label><br />

                <select asp-for="AddressId" placeholder="Enter New Address" class="form-control">
                    <option>Choose from existing addresses</option>
                    @foreach (var address in Model.AddressesList)
                    {
                        <option value="@address.Id">@address.Town.Name, @address.Text </option>
                    }

                </select>

                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <hr />
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add New Address</a>

            </p>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                   
                    <input asp-for="City" placeholder="Enter new city name" class="form-control" />

                    <div class="form-group">
                        <label asp-for="City" class="control-label">or</label>
                        <select asp-for="City" class="form-control" asp-items="Model.Cities">
                            <option>Choose from existing cities</option>
                        </select>

                        <input asp-for="Address" placeholder="Enter New Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="VAT" class="control-label"></label>
                <input asp-for="VAT" placeholder="Enter VAT Number, e.g.BG123456789" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Create Partner" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" href='javascript:history.go(-1)'>Go Back</a>
</div>
